pureodd.odd

<?xml version="1.0" encoding="utf-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0" xml:lang="en">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Foxglove TEI </title>
        <author>Sebastian Rahtz</author>
      </titleStmt>
      <publicationStmt>
	<publisher>TEI</publisher>
        <availability status="free">
          <licence target="http://creativecommons.org/licenses/by-sa/3.0/"> Distributed under a Creative
      Commons Attribution-ShareAlike 3.0 Unported License </licence>
          <licence target="http://www.opensource.org/licenses/BSD-2-Clause">
            <p>Copyright 2013 TEI Consortium.</p>
            <p>All rights reserved.</p>
            <p>Redistribution and use in source and binary forms, with or without modification, are
       permitted provided that the following conditions are met:</p>
            <list>
              <item>Redistributions of source code must retain the above copyright notice, this list of
        conditions and the following disclaimer.</item>
              <item>Redistributions in binary form must reproduce the above copyright notice, this list of
        conditions and the following disclaimer in the documentation and/or other materials provided
        with the distribution.</item>
            </list>
            <p>This software is provided by the copyright holders and contributors "as is" and any express
       or implied warranties, including, but not limited to, the implied warranties of
       merchantability and fitness for a particular purpose are disclaimed. In no event shall the
       copyright holder or contributors be liable for any direct, indirect, incidental, special,
       exemplary, or consequential damages (including, but not limited to, procurement of substitute
       goods or services; loss of use, data, or profits; or business interruption) however caused
       and on any theory of liability, whether in contract, strict liability, or tort (including
       negligence or otherwise) arising in any way out of the use of this software, even if advised
       of the possibility of such damage.</p>
          </licence>
          <p>TEI material can be licensed differently depending on the use you intend to make of it.
      Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is
      generally appropriate for usages which treat TEI content as data or documentation. The BSD-2
      licence is generally appropriate for usage of TEI content in a software environment. For
      further information or clarification, please contact the <ref target="mailto:info@tei-c.org">TEI Consortium</ref>. </p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Written from scratch.</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <head>Implementing Pure ODD</head>
      <specGrp xml:id="model">
        <elementSpec ident="sequence" mode="add">
          <desc>sequence of references</desc>
          <classes>
            <memberOf key="att.global"/>
            <memberOf key="model.contentPart"/>
            <memberOf key="att.repeatable"/>
          </classes>
          <content>
            <oneOrMore xmlns="http://relaxng.org/ns/structure/1.0">
              <ref name="model.contentPart"/>
            </oneOrMore>
          </content>
        </elementSpec>
        <elementSpec ident="alternate" mode="add">
          <desc>an alternation of references</desc>
          <classes>
            <memberOf key="model.contentPart"/>
            <memberOf key="att.global"/>
            <memberOf key="att.repeatable"/>
          </classes>
          <content>
            <oneOrMore xmlns="http://relaxng.org/ns/structure/1.0">
              <ref name="model.contentPart"/>
            </oneOrMore>
          </content>
        </elementSpec>
        <elementSpec ident="interleave" mode="add">
          <desc>an interleaving of references</desc>
          <classes>
            <memberOf key="model.contentPart"/>
            <memberOf key="att.global"/>
            <memberOf key="att.repeatable"/>
          </classes>
          <content>
            <oneOrMore xmlns="http://relaxng.org/ns/structure/1.0">
              <ref name="model.contentPart"/>
            </oneOrMore>
          </content>
        </elementSpec>
        <elementSpec ident="content" mode="change">
          <classes mode="replace">
            <memberOf key="att.global"/>
            <memberOf key="att.repeatable"/>
          </classes>
        </elementSpec>
	<macroSpec ident="macro.schemaPattern" mode="change">
	  <content>
	    <oneOrMore xmlns="http://relaxng.org/ns/structure/1.0">
	      <ref name="model.contentPart"/>
	    </oneOrMore>
	  </content>
	</macroSpec>
        <classSpec ident="model.contentPart" type="model" mode="add">
          <desc>Components of model</desc>
        </classSpec>
        <classSpec ident="att.repeatable" type="atts" mode="add">
          <desc>Attributes for referencing elements</desc>
          <attList>
            <attDef ident="allowText">
              <desc>whether the content may contain text</desc>
              <datatype>
                <rng:ref name="data.boolean"/>
              </datatype>
            </attDef>
            <attDef ident="context">
              <desc>constraint on the content</desc>
              <datatype>
                <rng:text/>
              </datatype>
            </attDef>
            <attDef ident="minOccurs">
              <gloss>minimum number of occurences</gloss>
              <gloss versionDate="2007-12-20" xml:lang="ko">빈도의 최소 수</gloss>
              <gloss versionDate="2007-05-02" xml:lang="zh-TW">出現次數最小值</gloss>
              <gloss versionDate="2007-06-12" xml:lang="fr">nombre minimum d'occurrences</gloss>
              <gloss versionDate="2007-11-06" xml:lang="it">numero minimo di occorrenze</gloss>
              <gloss versionDate="2007-05-04" xml:lang="es">número mínimo de apariciones</gloss>
              <desc>indicates the minimum number of times this datatype may
      occur in the specification of the attribute being defined</desc>
              <desc versionDate="2007-12-20" xml:lang="ko">정의되고 있는 속성 명시에서 발생할 수 있는 이 유형의 최소 횟수를 나타낸다.</desc>
              <desc versionDate="2007-05-02" xml:lang="zh-TW">指出該資料類型在所定義的屬性說明中可能出現的最少次數
          。</desc>
              <desc versionDate="2008-04-05" xml:lang="ja">
      属性値としてとる当該データ型の値が出現する最小回数を示す．
      </desc>
              <desc versionDate="2007-06-12" xml:lang="fr">indique le nombre minimum d'occurrences
					de ce type de données dans la spécification de l'attribut.</desc>
              <desc versionDate="2007-11-06" xml:lang="it">indica il numero minimo di volte che questo tipo di dati può verificarsi nella definizione dell'attributo da definire</desc>
              <desc versionDate="2007-05-04" xml:lang="es">indica el mínimo número de veces que los tipo de datos pueden aparecer en la especificación del atributo que se define.</desc>
              <datatype>
                <ref xmlns="http://relaxng.org/ns/structure/1.0" name="data.count"/>
              </datatype>
              <defaultVal>1</defaultVal>
            </attDef>
            <attDef ident="maxOccurs">
              <gloss>maximum number of occurences</gloss>
              <gloss versionDate="2007-12-20" xml:lang="ko">빈도의 최대 수</gloss>
              <gloss versionDate="2007-05-02" xml:lang="zh-TW">出現次數最大值</gloss>
              <gloss versionDate="2007-06-12" xml:lang="fr">nombre maximum d'occurrences.</gloss>
              <gloss versionDate="2007-11-06" xml:lang="it">numero minimo di occorrenze</gloss>
              <gloss versionDate="2007-05-04" xml:lang="es">número máximo de apariciones.</gloss>
              <desc>indicates the maximum number of times this datatype may
      occur in the specification of the attribute being defined</desc>
              <desc versionDate="2007-12-20" xml:lang="ko">정의되고 있는 속성 명시에서 발생할 수 있는 이 유형의 최대 횟수를 나타낸다.</desc>
              <desc versionDate="2007-05-02" xml:lang="zh-TW">指出該資料類型在所定義的屬性說明中可能出現的最多次數。</desc>
              <desc versionDate="2008-04-05" xml:lang="ja">
      当該データ型が属性値として出現する最大回数を示す．
      </desc>
              <desc versionDate="2007-06-12" xml:lang="fr">indique le nombre maximum d'occurrences
					de ce type de données dans la spécification de l'attribut.</desc>
              <desc versionDate="2007-11-06" xml:lang="it">indica il numero massimo di volte che questo tipo di dati può verificarsi nella definizione dell'attributo da definire</desc>
              <desc versionDate="2007-05-04" xml:lang="es">indica el máximo número de veces que los tipo de datos pueden aparecer en la especificación del atributo que se define.</desc>
              <datatype>
                <choice xmlns="http://relaxng.org/ns/structure/1.0">
                  <ref name="data.count"/>
                  <value>unbounded</value>
                </choice>
              </datatype>
              <defaultVal>1</defaultVal>
            </attDef>
            <attDef ident="expand" usage="opt">
              <desc>indicates alternation and sequence instantiations of a model class.</desc>
              <valList type="closed">
                <valItem ident="alternation">
                  <desc>members of the class are alternatives</desc>
                </valItem>
                <valItem ident="sequence">
                  <desc>members of the class are to be provided in sequence</desc>
                </valItem>
                <valItem ident="sequenceOptional">
                  <desc>members of the class may be provided, in sequence,
	    but are optional</desc>
                </valItem>
                <valItem ident="sequenceOptionalRepeatable">
                  <desc>members of the class may be provided one or more
	    times, in sequence, but are optional. </desc>
                </valItem>
                <valItem ident="sequenceRepeatable">
                  <desc>members of the class may be provided one or more times, in sequence</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </classSpec>
      </specGrp>
      <specGrp xml:id="changes">
        <elementSpec ident="elementRef" mode="change">
          <classes mode="change">
            <memberOf key="model.contentPart"/>
            <memberOf key="att.repeatable"/>
          </classes>
        </elementSpec>
        <elementSpec ident="classRef" mode="change">
          <classes mode="change">
            <memberOf key="model.contentPart"/>
            <memberOf key="att.repeatable"/>
          </classes>
        </elementSpec>
        <elementSpec ident="macroRef" mode="change">
          <classes mode="change">
            <memberOf key="model.contentPart"/>
            <memberOf key="att.repeatable"/>
          </classes>
        </elementSpec>
        <elementSpec ident="elementSpec" mode="change">
          <content>
            <group xmlns="http://relaxng.org/ns/structure/1.0">
              <zeroOrMore>
                <choice>
                  <ref name="model.glossLike"/>
                  <ref name="model.descLike"/>
                </choice>
              </zeroOrMore>
              <optional>
                <ref name="classes"/>
              </optional>
              <optional>
                <choice>
                  <ref name="content"/>
                  <ref name="model"/>
                </choice>
              </optional>
              <optional>
                <ref name="valList"/>
              </optional>
              <zeroOrMore>
                <ref name="constraintSpec"/>
              </zeroOrMore>
              <optional>
                <ref name="attList"/>
              </optional>
              <zeroOrMore>
                <ref name="exemplum"/>
              </zeroOrMore>
              <zeroOrMore>
                <ref name="remarks"/>
              </zeroOrMore>
              <zeroOrMore>
                <ref name="listRef"/>
              </zeroOrMore>
            </group>
          </content>
        </elementSpec>
        <elementSpec xmlns="http://www.tei-c.org/ns/1.0" module="tagdocs" ident="attDef" mode="change">
          <content mode="change">
            <group xmlns="http://relaxng.org/ns/structure/1.0">
              <zeroOrMore>
                <choice>
                  <ref name="model.glossLike"/>
                  <ref name="model.descLike"/>
                </choice>
              </zeroOrMore>
              <optional>
                <choice>
                  <ref name="datatype"/>
                  <ref name="model"/>
                </choice>
              </optional>
              <zeroOrMore>
                <ref name="constraintSpec"/>
              </zeroOrMore>
              <optional>
                <ref name="defaultVal"/>
              </optional>
              <optional>
                <choice>
                  <ref name="valList"/>
                  <oneOrMore>
                    <ref name="valDesc"/>
                  </oneOrMore>
                </choice>
              </optional>
              <zeroOrMore>
                <ref name="exemplum"/>
              </zeroOrMore>
              <zeroOrMore>
                <ref name="remarks"/>
              </zeroOrMore>
            </group>
          </content>
        </elementSpec>
      </specGrp>
      <schemaSpec ident="foxglove" start="TEI">
        <moduleRef key="header"/>
        <moduleRef key="core"/>
        <moduleRef key="tei"/>
        <moduleRef key="textstructure"/>
        <moduleRef key="tagdocs"/>
	<!--
        <specGrpRef target="#changes"/>
        <specGrpRef target="#model"/>
	-->
      </schemaSpec>
    </body>
  </text>
</TEI>
